/* $Id$
	Jqui theme (jqui.css), Rising theme option (rising.css)
	for Tiki Wiki CMS Groupware.
	Visit http://themes.tiki.org for more information.
	(This file was edited directly, not produced by the Less pre-compiler.)
*/

/* initially created in theme generator */

#col2 a, #col2 a:visited, #col3 a, #col3 a:visited {
	color: #000
}

#col2 a:active, #col2 a:hover, #col3 a:active, #col3 a:hover {
	color: #888
}

a, a:visited {
	color: #ba352b
}

a:active, a:hover {
	color: #c2251f
}

#top a, #top a:visited {
	color: #ba352b
}

#top a:active, #top a:hover {
	color: #c2251f
}

#cssmenu0 .selected a {
	color: #000;
}

h1, h2, h3, h4, h5, h6, #top .pagetitle a {
	color: #c2251f
}

#top .pagetitle a {
	color: #a31a1a
}

.btn-primary,
.btn-primary:visited,
.btn:visited,
button,
input[type="reset"],
input[type="submit"],
.button input {
	border: 1px solid #777;
	font-weight: bold;
	color: #555
}

.btn-primary:hover,
button:hover,
input[type="reset"]:hover,
input[type="submit"]:hover,
.button input:hover {
	border: 1px solid #666;
	font-weight: bold;
	color: #212121;
	background-color: #f04d4d
}

/* layout */

.box-menupage > div {
  padding: .5em .3em;
}

li.cs_advanced {
	list-style: none;
	float: left;
	padding: 0 1em 0 0;
}