// $Id$
// Boxes
.error .rbox-data .adminoption,
.error .rbox-data .adminoptionlabel {
	display: inline;
}

// Modules
.modules {
	position: relative;
}

h3.card-title {
	display: block;
	padding-top: 0;
	position: relative; // Needed for module shading icon to work.
	margin: 0;
}

.moduleflip,
.moduleflip img {
	display: none;
	position: absolute;
	right: 1%;
	top: 0;
}

.flipmodtitle.close {
	line-height: 0.75;
}

a.flipmodtitle .icon {
	font-size: 80%;
}

.card:hover .moduleflip,
.card:hover .moduleflip img {
	display: block;
}

.card-body {
	table { width: 100%; }
	a.linkmenu { display: block; }
	ol { padding-left: 2rem; }
}

.module .card-body {
	&>ol,
	&>ul {
		margin-left: -7px;
		overflow: hidden;
		margin-top: 0;
		margin-bottom: 0;
	}
}

.box-months_links ul {
	list-style-type: none;
	padding-left: 0;
}

.box-months_links ul li {
	list-style-type: none;
	padding-left: 0.5em;
}

.box-months_links ul li li {
	list-style-type: none;
	padding-left: 1.3em;
}

.modcontrols {
	visibility: hidden;
	float: right;
	> div > button.btn-link {
		padding: 0;
	}
}

.module:hover .modcontrols {
	visibility: visible;
}

// MiniChat
.box-minichat {
	width: 100%;
}

.minichat,
.minichatdiv,
.minichatchan {
	overflow: auto;
}

#autosave_preview > div {
	height: 30ex;
	overflow-y: auto;
	overflow-x: hidden;
}

