/* $Id$
	Jqui theme (jqui.css), Horizons theme option (horizons.css)
	for Tiki Wiki CMS Groupware.
	Visit http://themes.tiki.org for more information.
	(This file was edited directly, not produced by the Less pre-compiler.)
*/

#col2 a, #col2 a:visited, #col3 a, #col3 a:visited {
	color: #000;
}
 
#col2 a:active, #col2 a:hover, #col3 a:active, #col3 a:hover {
	color: #888;
}

a, a:visited {
	color: #850934;
}
 
a:active, a:hover {
	color: #c1094c;
}

/*#top a, #top a:visited {
	color: #2A5385;
}*/
 
#top a:active, #top a:hover {
	color: #050576;
}

h1,h2,h3,h4,h5,h6, #top .pagetitle a {
	color: #050576;
}

.pagetitle a {
	color: #4678B4;
}

.bg-dark {	background: #477d8a !important; }

.card-header,
.navbar-light .navbar-nav > .active > a,
.navbar-light .navbar-nav > .active > a:hover,
.navbar-light .navbar-nav > .active > a:focus,
.navbar-light,
.topbar,
.topbar .navbar-light .navbar-nav > li,
.topbar .nav > li,
.navbar-light .navbar-collapse,
.navbar-light .navbar-form,
.navbar-dark .navbar-nav .nav-link,
.navbar-dark .navbar-nav .nav-link:hover,
.navbar-dark .navbar-collapse {
	border: none;
	background: #477d8a;
	color: #fff;
	font-size: 1.1em;
}

.navbar-dark .navbar-brand,
.navbar-dark .navbar-brand:hover,
.navbar-dark .navbar-brand:focus,
.navbar-dark .navbar-nav > li > a {
	color: #fff;
}

.btn {
	font-weight: bold;
}

.btn-primary,
.btn-primary:visited,
button,
input[type="reset"],
input[type="submit"],
.button input {
	border: 1px solid #477d8a;
	color: #2E4A52;
	background-color: #C8E3EA;
	background-image: none;
}

.btn-primary:hover,
button:hover,
input[type="reset"]:hover,
input[type="submit"]:hover,
.button input:hover {
    border: 1px solid #477d8a;
    font-weight: bold;
    color: #2E4A52;
/*	background-color: #C8E3EA; */
	background-image: none;
}

.card-header,
h3.box-title {
	padding: .4em .3em .4em 1em;
	border: 1px solid #2E4A52;
	background-color: #477d8a;
	background-image: none;
	color: #fff;
	font-weight: bold;
	margin: 0;
	font-size: 1.1em;
}

.card-title {
	color: #fff;
}

#top_modules .box-quickadmin {
	background-color: #fff;
}

.caltable td.calhighlight,
td.calheadhighlight {
	background: #c8e3ea;
}
